body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.titre{
    position: relative;
    top: 42px;
    left: 240px;
    padding: 10px;
    border: 2px solid #FFF;
    width: 200px;
    height: 133px;
    color: #FFF;
    background-color: #0b193b;
    font-size: 30px;
    border-top-right-radius: 1em;
}
.logo{
    border: 2px solid #FFFFFF;
    position: relative;
    width: 156px;
    left: 80px;
    position: relative;
    bottom: 115px;
}
.menu a{
    color: #ace6de;
}
.menu ul{
     width: 1335px;
     padding: 8px;
     text-align: center;
     position: relative;
     bottom: 340px;
     margin-bottom: 7px;
     height: 27px;
     font-family: sans-serif;
     font-size: 20px;
     background-color: #0b193b;
     color: #FFFFFF;
}
.menu a:hover{
      background-color: #047de0;
}
.pagec{
     color: #ffffff;
     margin: 0 auto;
     border: 2px solid aqua;
     height: 900px;
     width: 1100px;
     text-align: center;
     position: relative;
     bottom: 155px;
     background-image: url("pagec2.jpg");
}
.txt{
  position: relative;
  top: 20px;
}
.txt2{
    position: relative;
    top: 40px;
    width: 950px;
    font-size: 20px;
    margin:0 auto;
}
.txt3{
    position: relative;
    top: 60px;
    width: 950px;
    font-size: 20px;
    margin:0 auto;

}
#membre, #action, #zotcod{

                    color : #ace6de;
                    font-size: 20px;
                    background-color: #124996;
                    text-align: center;
                    border: 2px solid #000;
                    display: inline-block;
                    position: relative;
                    left: 30%;
                    bottom: 150px;
                    width: 200px;
                    height: 40px;
                    padding-top: 10px;
                    border-radius: 1em;
}
.photrt{
    border: 2px solid #FFFF;
    background-image: url("logo_facebook.png");
    width: 156px;
    height: 156px;
    position: relative;
    left: 600px;
    top: 420px;
}
.univ{
   position: relative;
   top: 265px;
   left: 300px;
   border: 2px solid #FFFF;
   background-image: url("logo2.jpg");
   width: 156px;
   height: 156px
}
