body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.titre{
  position: relative;
  top: 42px;
  left: 240px;
  padding: 10px;
  border: 2px solid #FFF;
  width: 210px;
  height: 133px;
  color: #FFF;
  background-color: #0b193b;
  font-size: 30px;
  border-top-right-radius: 1em;
}
.logo{
     border: 2px solid #FFFFFF;
     position: relative;
     width: 156px;
     left: 80px;
     position: relative;
     bottom: 115px;
}
.menu a{
    color: #ace6de;
}
.menu ul{
     width: 1335px;
     padding: 8px;
     text-align: center;
     position: relative;
     bottom: 340px;
     margin-bottom: 7px;
     height: 27px;
     font-family: sans-serif;
     font-size: 20px;
     background-color: #0b193b;
     color: #FFFFFF;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu a:hover{
      background-color: #047de0;
}
.page1 ul{
    border: 2px solid #FFFFFF;
    width: 114px;
    height: 30px;
    background-color: #023D64;
    position: relative;
    bottom: 205px;
    left: 80px;
    font-size: 25px;
    color: #EFF9F7;
}
.page1 ul:hover{
    background-color: #047de0;
}
.page1 a{
     color: #ace6de;
}
.text{
   background-color: #b33300;
   border-top: 10px;
   width: 80%;
   height: 50%;
   border: 2px solid #FFFFFF;
   margin: 0 auto;
   border-bottom-left-radius: 2em;
   border-bottom-right-radius: 2em;
}
.div{
   margin: 0 auto;
   background-color: #124a78;
    border-top: 10px;
    color: #FFFFFF;
    font-size: 20px;
    border :20px solid #0b193b;
    height: 400px;
    width: 1300px;
    position: relative;
    bottom: 150px;
}
.rt{
  color: #FFFFFF;
  font-size: 30px;
  font-family:sans-serif;
  height: 50px;
  width: 50%;
  margin: auto;
  text-align: center;
  position: relative;
  bottom: 250px;
  border: 2px solid #FFFFFF;
  border-top-right-radius:1em;
  border-top-left-radius: 1em;
}
.photo{ /*pour le diapo*/

  color: maroon;
  margin: 0 auto;
  border : 2px solid #124a78;
  height: 700px;
  width: 700px;
  position: relative;
  bottom: 205px;
  background-image: url("photo/photo1.jpg");

/*LE diapo ne marche pas sur internet explorer*/

webkit-animation-name : photo;
webkit-animation-duration : 70s;
webkit-animation-timing-function: linear;
webkit-animation-iteration-count: infinite;
webkit-animation-direction: normal;

animation-name : photo;
animation-duration : 70s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: normal;
}
@-webkit-keyframes photo{
    0%{background-image: url("photo/photo1.jpg");}
    5%{background-image: url("photo/photo2.jpg");}
    10%{background-image: url("photo/photo5.jpg");}
    12%{background-image: url("photo/photo21.jpg");}
    15%{background-image: url("photo/photo7.jpg");}
    20%{background-image: url("photo/photo8.jpg");}
    25%{background-image: url("photo/photo9.jpg");}
    27%{background-image: url("photo/photo20.jpg");}
    30%{background-image: url("photo/photo10.jpg");}
    35%{background-image: url("photo/photo3.jpg");}
    40%{background-image: url("photo/photo4.jpg");}
    45%{background-image: url("photo/photo6.jpg");}
    50%{background-image: url("photo/photo11.jpg");}
    55%{background-image: url("photo/photo12.jpg");}
    57%{background-image: url("photo/photo19.jpg");}
    60%{background-image: url("photo/photo14.jpg");}
    69%{background-image: url("photo/photo15.jpg");}
    77%{background-image: url("photo/photo16.jpg");}
    86%{background-image: url("photo/photo13.jpg");}
    99%{background-image: url("photo/photo18.jpg");}

}
