body{
    background-color: #032b11;
    margin: 0px;
    padding: 0px;
}
.titre{
      border: 2px solid #FFF;
      width: 1350px;
      height: 143px;
      color: #FFF;
      text-align: center;
      margin-top: 5px;
      background-color: #76EB19;
      font-size: 40px;
      padding-bottom: 10px;
}
.logo{
     position: relative;
     bottom:155px;
}
.menu{
    width: 15%;
    height: 40%;
}
.menu li{
   padding: 8px;
   text-align: center;
   margin-bottom: 5px;
   height: 15%;
   font-family: sans-serif;
   font-size: 20px;
   background-color: #2fcc70;
   color: #ffffff;
}
.menu ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.menu li:hover {
    background-color: #ffb300;
}
.page1 ul{
    border: 2px solid #FFFFFF;
    width: 114px;
    height: 30px;
    background-color: #023D64;
    position: relative;
    bottom: 440px;
    font-size: 25px;
    color: #EFF9F7;
}
.page1 ul:hover{
    background-color: #047de0;
}
.page1 a{
     color: #ace6de;
}
#info{
    color: #1EEA9D;
    font-size: 20px;
    width: 50%;
    height: 10%;
    position: relative;
    bottom: 400px;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin: 0 auto;
    width: 550px;
    padding: 5em;
    position: relative;
    bottom: 400px;
    border: 3px solid #CCC;
    border-radius: 1em;
    background-color: #cae8d6;

}
form div + div {
    margin-top: 2em;

}
label {
    display: inline-block;
    width: 90px;
    font-family: sans-serif;
    text-align: center;
    color: #06170c;
}
input, textarea {
    font: 1em sans-serif;
    height: 40px;
    width: 400px;
    border: 2px solid #999;
}
input:focus, textarea:focus {
    border-color: #000;
}
textarea {
    margin-top: 5px;
    vertical-align: top;
    height: 10em;
    resize: vertical;
}
.button {
    height: 25px;
    padding-left: 110px;
}
button {
    margin-left: .5em;
}
