body{
    background-color: #00010F;
    margin: 0px;
    padding: 0px;
}
.titre{
      border: 2px solid #FFF;
      width: 1350px;
      height: 143px;
      color: #FFF;
      text-align: center;
      background-color: #0b193b;
      font-size: 40px;
      padding-bottom: 5px;
}
.logo{
    position: relative;
    bottom:155px;
}
.menu a{
    color: black;
}
.menu ul{
     width: 1178px;
     padding: 8px;
     position: relative;
     left: 160px;
     position: relative;
     bottom: 177px;
     margin-bottom: 7px;
     height: 27px;
     font-family: sans-serif;
     font-size: 20px;
     background-color: #F58B74;
     color: #FFFFFF;

}
.menu a:hover{
      background-color: #ff9500;
}
.page1 ul{
      border:2px solid #FFFFFF;
      width: 116px;
      height:6%;
      background-color: #023D64;
      position: relative;
      bottom: 245px;
      font-size:25px;
}
.page1 a{
    color: #EFF9F7;
}
.page1 ul:hover{
    background-color: #047de0;
}
.txt{
  color: #ffffff;
  background-color: #124996;
  position: relative;
  bottom: 150px;
  height: 50px;
  width: 50%;
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
}
.mtext{
      position: relative;
      background-color: #a32a2a;
      bottom: 150px;
      height: 85%;
      color: #FFFF;
      width: 99%;
}
.mtext2{
      position: relative;
      background-color: #a32a2a;
      bottom: 155px;
      color: maroon;
      height: 1000px;
      width: 99%;
      margin-top: 6px;
      border-bottom-right-radius: 2em;
      border-bottom-left-radius: 2em;

}
