body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.titre1{
    
  border: 2px solid #FFF;
  width: 1350px;
  height: 143px;
  color: #FFF;
  text-align: center;
  background-color: #0b193b;
  font-size: 40px;
  padding-bottom: 10px;
}

.logo1{
    position: relative;
    bottom:155px;
}

.menu1 a{  
    color: #ace6de;
}

.menu1 ul{ 
    
     width: 1177px;
     padding: 8px;
     position: relative;
     left: 160px;
     position: relative;
     bottom: 177px;
     margin-bottom: 7px;
     height: 27px;
     font-family: sans-serif;
     font-size: 20px;
     background-color: #0b193b;
     color: #FFFFFF;
}
.menu1 a:hover{ 

      background-color: #047de0;
}
.page1 ul{

      border:2px solid #FFFFFF;
      width: 116px;
      height:6%;
      background-color: #023D64;
      position: relative;
      bottom: 245px;
      font-size:25px;
}
.page1 a{         /*reglement*/

    color: #ace6de;
}
.page1 ul:hover{

       background-color: #047de0;
}

.reglement{ 
    
       background-color: #0b4ea1;
       border: 2px solid #FFFFFF;
       position: relative;
       height: 10%;
       width: 1350px;
       bottom: 120px;
       text-align: center;
       color: #FFFFFF;
       font-size: 20px;
       border-radius: 1em;
}
.rtext{

    border: 2px solid #FFFFFF;
    width: 49%;
    height: 1000px;
    position: relative;
    bottom: 120px;
    background-color: #e8e8e8

}
.rtext2{
    
   background-color: #e8e8e8;
   border: 2px solid #FFFFFF;
   height: 1000px;
   width: 675px;
   position: relative;
   bottom: 120px;
   border-left: 2px solid #FFFFFF;
}
