body{
    background-color: #0b193b;
    margin: 0px;
    padding: 0px;
}
.titre{
    border: 2px solid #FFF;
    width: 1350px;
    height: 143px;
    color: #FFF;
    text-align: center;
    background-color: #F5BB74;
    font-size: 40px;
    padding-bottom: 10px;
}

.logo{
    position: relative;
    bottom:155px;
}

.menu a{
    color: black;
}

.menu ul{
     width: 1177px;
     padding: 8px;
     position: relative;
     left: 160px;
     position: relative;
     bottom: 177px;
     margin-bottom: 7px;
     height: 27px;
     font-family: sans-serif;
     font-size: 20px;
     background-color: #F58B74;
     color: #FFFFFF;
}

.menu a:hover{
      background-color: #ff9500;
}

.page1 ul{
      border:2px solid #FFFFFF;
      width: 116px;
      height:6%;
      background-color: #023D64;
      position: relative;
      bottom: 245px;
      font-size:25px;
}

.page1 a{
    color: #EFF9F7;
}

.page1 ul:hover{
       background-color: #047de0;
}
.projet{
      color: #FFFFFF;
      font-size: 25px;
      background-color: #F5BB74;
      border: 2px solid #F5BB74;
      margin:0 auto;
      height: 9%;
      width: 50%;
      padding-bottom: 10px;
      text-align: center;
      border-radius: 2em;
      position: relative;
      bottom: 150px;
}
.text{
     background-color: #f2debd;
     padding: 10px;
     font-size: 17px;
     font-family: sans-serif;
     border: 2px solid #FFFFFF;
     color: #16369e;
     height: 6%;
     position: relative;
     bottom: 150px;
     width: 1330px;
}
.text1{
    background-color: #f2debd;
    border: 2px solid #FFFFFF;
    height: 320px;
    width: 1350px;
    margin: 0 auto;
    position: relative;
    bottom: 150px;
}
.text3{
    margin: 1px;
    background-color: #f2debd;
    border: 2px solid #f2debd;
    height: 600px;
    width: 49%;
    position: relative;
    bottom: 150px;
}
.text2{
    background-color: #f2debd;
    position: relative;
    right: 6px;
    border: 2px solid #f2debd;
    height: 600px;
    width: 675px;
    position: relative;
    bottom: 151px;
}
.text4{
    background-color: #f2debd;
    border: 2px solid #FFFFFF;
    height: 250px;
    width: 99%;
    position: relative;
    bottom: 155px;
}
.text5{
    background-color: #f2debd;
    border: 2px solid #f2debd;
    height: 300px;
    width: 49%;
    position:relative;
    bottom: 155px;
}
.text6{
    background-color: #f2debd;
    border: 2px solid #f2debd;
    height: 300px;
    width: 50%;
    position: relative;
    bottom: 155px;
    position: relative;
    right: 8px;
}
